.SettingsTab {
    background-color: darkkhaki;
    flex-grow: 1;
}

.FlexContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5%;
}

.FlexItem {
    width: 40%
}