.SettingsTab {
    flex-grow: 1;
    border-left: 1px solid dimgray;
    padding: 3vw;
}

.FlexContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5%;
}

.flexRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1vw;
}

h1{
    margin-top: 12px;
}