.EmailTabContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.EmailTab {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.EmailTabTitle {

}

.EmailTabBody {

}