.EmailTabContainer {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.EmailTab {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.EmailTabTitle {

}

.EmailTabBody {

}