.EmailViewer {
    border-left: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
    padding-left: 6vh;
    padding-top: 4vh;
    padding-bottom: 6vh;
    display: inline-block;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: #555555;
    border-radius: 50%;
    margin-right: 20px;
}

.sender_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vw;
}

.sender_info{
    display: flex;
    flex-direction: column;
}

.email_text{
    text-align: left;
    white-space: pre-line;
    margin:0px;
    padding-bottom: 4px;
}

.email_sender_text{
    text-align: left;
    white-space: pre-line;
    margin:0px;
    font-style: italic;
}

.email_body_text{
    text-align: left;
    white-space: pre-line;
    overflow-y: scroll;
    height: 200px;
}

.email_body{
    padding-right: 4vw;
}

.my_btn{
    cursor:pointer !important;
    border-radius: 8px !important;
    color: #ffffff !important;
    background-color: #e64545 !important;
    border: solid #ffffff 2px !important;
    text-decoration: none !important;
}

.my_btn:hover{
    background: #d47474 !important;
    text-decoration: none !important;
}
